/* Footer Styling Start Here ------------------------------------------------------------------- */
.footermain {
	padding-top: 1%;
	display: flex;
	flex-flow: column;
	height: auto;
	color: white;
	width: 100%;
	background-color: black;
}

#footer-logo {
	height: 5%;
}

.sitemapFooter {
	display: flex;
	justify-content: center;
	padding-top: 1%;
}

.sitemapFooter>a {
	color: white;
	text-decoration: none;
	font-size: 1.2vmax;
}

.fPart1 {
	height: 75%;
	display: flex;
	flex-direction: row;
	gap: 25px;
	justify-content: center;
	margin-top: 10px;
}

.fpart2 {
	height: 15%;
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.fpart2>a {

	display: flex;
	justify-content: center;
	padding-top: 1%;
}

.fpart3 {
	height: 10%;
	display: flex;
	justify-content: center;
}

.fPart1>.hqa,
.pfg {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

.hqa>a,
.pfg>a,
.ftext>a {
	color: white;
	text-decoration: none;
}

.hqa>a:hover, .pfg>a:hover, .ftext>a:hover, .sitemapFooter>a:hover {
	color: #E75C17;
}

.hqa {
	width: 128px;
}

#footer-logo {
	width: 10%;
	height: auto;
}

#insta {
	height: 40%;
	padding-top: 25%;
}

#facebook {
	height: 40%;
	padding-top: 25%;
}

#github {
	height: 60%;
}

#whatsapp {
	height: 40%;
	padding-top: 25%;
}

#twitter {
	height: 40%;
	padding-top: 25%;
}

.footerLine {
	width: 90%;
}

#insta:hover, #facebook:hover, #github:hover, #whatsapp:hover, #twitter:hover {
	animation: Zoom 1s ease infinite;
}

@keyframes Zoom {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

/* Footer Styling End Here ------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------Start of Nav Bar */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
	margin: auto 0;
	background-color: #373737;
}

/* navbar starts here */
.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

.container-fluid {
	display: flex;
	flex-wrap: inherit;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-right: var(--bs-gutter-x, 0.75rem);
	padding-left: var(--bs-gutter-x, 0.75rem);
	margin-right: auto;
	margin-left: auto;
}

nav.fill ul li a {
	position: relative;
}

nav.fill ul li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: ".";
	color: transparent;
	background: #aaa;
	height: 1px;
}

nav.fill ul li a {
	transition: all 2s;
}

nav.fill ul li a:after {
	text-align: left;
	content: ".";
	margin: 0;
	opacity: 0;
}

nav.fill ul li a:hover {
	color: #fff;
	z-index: 1;
}

nav.fill ul li a:hover:after {
	z-index: -10;
	animation: fill 1s forwards;
	-webkit-animation: fill 1s forwards;
	-moz-animation: fill 1s forwards;
	opacity: 1;
}

nav {
	position: fixed;
	display: flex;
	justify-content: space-between;
	border-width: 2px;
	max-width: 100%;
	border-radius: 0 0 30px 30px;
	padding-right: 2.5%;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	border-width: 2px;
	/* border-color: white; */
	background: linear-gradient(25.6deg,
			rgba(255, 255, 255, 0.192) 28.69%,
			rgba(255, 255, 255, 0) 100%);
}

.links {
	display: flex;
	flex-flow: column-reverse nowrap;
	justify-content: center;
	align-items: flex-end;
}

.links li {
	display: inline-block;
	padding-right: 30px;
}

nav ul li a {
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-size: 1.2rem;
	color: white;
	padding: 15px;
}

.navImg {
	padding-left: 1.5%;
}

.nav-logo {
	max-width: 65%;
	height: auto;
}

/* Keyframes */
@-webkit-keyframes fill {
	0% {
		width: 0%;
		height: 1px;
	}

	50% {
		width: 100%;
		height: 1px;
	}

	100% {
		width: 100%;
		height: 100%;
		background: rgba(115, 195, 219, 0.486);
	}
}