body {
  background-color: rgb(0, 0, 0);
}

.radial {
  background: radial-gradient(
    47.62% 46.65% at 45.15% 63.61%,
    rgba(255, 77, 0, 0.42) 0%,
    rgba(57, 57, 57, 0) 100%
  );
}

.containerMain {
  margin-top: 30px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  align-items: center;
  justify-content: center;
}

.glassContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}

.labelContainer {
  width: 1230px;
  height: 350px;

  display: grid;
  grid-auto-flow: column;
  gap: 50px;
  justify-content: center;
  align-items: center;

  background: inherit;
  background-color: rgba(255, 255, 255, 0.123);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  text-align: center;
}

.labelContainer:before {
  background: inherit;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
}

.memberTopic {
  color: white;
  font-size: 54px;
}

.memberLabels {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.labelGrid {
  display: grid;
  justify-items: center;
  align-items: center;
}

