/* Smooth Scroll Behavior */
html {
  scroll-behavior: smooth;
}

/* --------------------------------------- Page Styling Start Here-------------------------------------------------------- */
.mPageContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.featuredProducts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fPImageCollection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.gradient_image {
  position: absolute;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.gradient1_image {
  position: absolute;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.ball_image {
  padding-top: 370px;
  padding-right: 60px;
  position: absolute;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.mainpage_image {
  position: relative;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.mainImg {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}
.main-product-topic {
  font-size: 44px;
  color: white;
  text-align: center;
}

.footer {
  background-color: black;
}

.slideDown {
  animation-name: slideDown;
  animation-duration: 5s;
  animation-timing-function: ease;
}

.slideUp {
  animation-name: slideUp;
  animation-duration: 5s;
  animation-timing-function: ease;
}

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}

.about {
  background-color: white;
  height: 300px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
#aboutDiscription {
  color: #808080;
  font-weight: bold;
}

#mainAbout {
  padding-top: 10px;
  padding-left: 45%;
  color: #808080;
  margin-bottom: none;
  font-size: 30px;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

#myBtn:hover {
  background-color: rgba(255, 255, 255, 0);
}

.main-poster {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.promotion-discription {
  position: absolute;
  padding-top: 13%;
  padding-left: 25%;
  text-align: center;
  font-size: 24px;
}

#main-to-productPage {
  border-radius: 20px;
  height: 35px;
  width: 150px;
  font-size: 20px;
  background-color: #9c9c9c;
  color: white;
}
/* ------------------------------------------------------------ Page Styling End Here--------------------------------------------------------*/

/* ------------------------------------------ Page Animation Start Here--------------------------------------------------------*/
.zoom_ball {
  animation: bigandsmall 5s infinite linear;
}

.rotate_ball {
  animation: rotation 20s infinite linear;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes bigandsmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100);
  }
  50% {
    transform: translateY(-8%);
  }
  65% {
    transform: translateY(4%);
  }
  80% {
    transform: translateY(-4%);
  }
  95% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}
/* ------------------------------------------------------------- Page Animation End Here ------------------------------------------------*/
