*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

#profile-image{
    width: 300px;
    height:auto;
    margin-top: 20px;
    border-radius: 20px;
}

a:link{
    color: rgb(241, 222, 185);
}
a:visited{
    color: rgb(241, 222, 185);
}

a:hover{
    color: rgb(219, 154, 22);
}

.student3{
    background: linear-gradient(to bottom, #000000 0%, #14000a 76%);
    color:antiquewhite;
}

.Student3-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 900px;
    height:auto;
    margin-left: 18%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
    background: linear-gradient(
    25.6deg,
    rgba(255, 255, 255, 0.192) 28.69%,
    rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 20px 10px rgba(182, 182, 182, 0.1);
}



.student3-page-side-right{
    width:300px;
    background:#420222;
    border-radius:20px;
}



.topic{
    margin-bottom: 20px;
    margin-bottom: 20px;
}

.bold-text{
    margin-left: 20px;
}

.bold{
    margin-bottom: 10px;
}


.Student3-container .student3-page-side-left {
    padding:0 25px;
}



 .bold-text{
    color:antiquewhite
}

.student3-items{
    padding:25px 0;
   
    border-bottom: 2px solid antiquewhite;
}

.li-left {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.contact-details{
    color:rgb(175, 166, 166);
} 

.student3-page-side-right {
    width:520px;
    padding: 25px;
}


.details{
    margin-bottom:20px;
    margin-left: 10%;
}


.username{
    margin-top: 0;
    margin-left: 20%;
}


.social-name{
    margin-left: 10px;
}

.social-icon{
    width: 40px;
    height:auto;
}

.mainlogo{
    display: flex;
    margin: 10% 0 0 25%;
}
