/* ----------------------------------------------------------------------------Start of Nav Bar */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: auto 0;
  background-color: #373737;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

nav.fill ul li a {
  position: relative;
}

nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  border-width: 2px;
  max-width: 100%;
  border-radius: 0 0 30px 30px;
  padding-right: 2.5%;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-width: 2px;
  /* border-color: white; */
  background: linear-gradient(
    25.6deg,
    rgba(255, 255, 255, 0.192) 28.69%,
    rgba(255, 255, 255, 0) 100%
  );
}

.links {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: center;
  align-items: flex-end;
}

.links li {
  display: inline-block;
  padding-right: 30px;
}

nav ul li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: white;
  padding: 15px;
}
.navImg {
  padding-left: 1.5%;
}
.nav-logo {
  max-width: 65%;
  height: auto;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: rgba(115, 195, 219, 0.486);
  }
}

/* ----------------------------------------------------------------------------------------------END of Nav Bar */
.Image1withSneakers {
  max-width: 100%;
  height: 1250px;
  background-image: url("../img/slime.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.5;
}
