*{
    box-sizing: border-box;
}
/* Footer CSS */
.SnapFooter{
    width: 100%;
    margin-top: 10px;
}

/* For the whole body */
.container{
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    font-family: 'Roboto', sans-serif;
    background-color: #373737;
}

/* For the image pannel */
.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height:80vh;
    border-radius:50px;
    color:#fff;
    cursor:pointer;
    flex:0.5;
    margin:10px;
    position: relative;
    transition: flex 0.5s ease-in;
    cursor: url("../img/snap/mg.png"), auto;
}

/* For h3 tags inside the pannel class */
.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left:20px;
    margin: 0;
    opacity: 0;

}

.panel.active{
    flex:5;

}

.panel.active h3 {
    opacity: 1;
    transition:opacity 0.3s ease-in 0.4s
}

/* Images */
.img1{background-image: url('../img/snap/cup.jpg')}


.img2{background-image: url('../img/snap/soccer-488700.jpg')}


.img3{background-image: url('../img/snap/pexels-tom-fisk-3448250.jpg')}


.img4{background-image: url('../img/snap/ronaldo.jpg')}


.img5{background-image: url('../img/snap/win.jpg')}

/* Discription */
.discription{
    text-align: justify;
}

.controllerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* To the selection bar */
.propertyController{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    height: auto;
    width: 90%;
    background-color: black;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom:30px;
	border-radius: 40px;
    color: whitesmoke;
}    

/*To selected image and description */
.showSnap {
    display: flex;
    flex-direction: column;
}

.item1{
    margin-left: 25%;
    margin-top: 25px;
    align-content: center;
}

.item2{
    text-align: center;
    font-size: 18px;
    margin: 50px 50px 50px 50px;
    background-color: rgb(126, 121, 75);
    border-radius:40px;
}

/* To the options */
option{
    background-color: #050213;
    color: white;
    font-size: 14px;
    border-radius: 10px;
}
select{
    border-radius:30px;
    margin-right: 50px;
    margin-left: 50px;
}