*{
    box-sizing: border-box;
}


body {
    font-family:'Roboto', sans-serif;
    display: flex;
    /* flex-direction:column; */
    align-items: center;
    justify-content:center;
    height:100vh;
    overflow: hidden;
    margin: 0;
    background-color: #373737;
}

.container{
    display: flex;
    margin-top: 80px;
    width: 90vw;

}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height:80vh;
    border-radius:50px;
    color:#fff;
    cursor:pointer;
    flex:0.5;
    margin:10px;
    position: relative;
    transition: flex 0.5s ease-in;

}


.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left:20px;
    margin: 0;
    opacity: 0;

}


.panel.active{
    flex:5;

}

.panel.active h3 {
    opacity: 1;
    transition:opacity 0.3s ease-in 0.4s
}



.img1{background-image: url('../img/snap/cup.jpg')}


.img2{background-image: url('../img/snap/black.jpg')}


.img3{background-image: url('../img/snap/car.jpg')}


.img4{background-image: url('../img/snap/ronaldo.jpg')}


.img5{background-image: url('../img/snap/win.jpg')}
