@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.Student1Body{
	font-family: Roboto;
}
.Student1Main{
	display: flex;
	flex-flow: column;
	height: 100%;
	align-items: center;
}
.Student1ImgDis{
	width: 65%;
	height: 25%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: white;
	padding-top: 5%;
}
.Stud1IMG{
	width: 27vmax;
	height: 27vmax;
}
.DsicriptionSneakers{
	list-style: none;
	padding-top: 98%;
	font-size: 2.5vmin;
}
.Student1Discription{
	color: aliceblue;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
	padding-top: 5%;
	font-size: 1.65vmax;
}
.Student1CapAndSocials{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 5%;
	padding-right: 10%;
}
.Stud1CapImg{
	width: 50vmax;
}
.Student1Socials{
	display: flex;
	flex-direction: column;
	padding-top: 28%;
	align-items: center;
}
.Student1Socials > a{
	z-index: 10;
	color: aliceblue;
	text-decoration: none;
	font-size: 1.1vmax;
}
.Student1Socials > a >img{
	width: 3vmax;
	padding-top: 15%;
}
/* ***************** Responsive********************** */
.Stud1Responsive{
	color: rgb(0, 0, 0);
	width: 60%;
	border-radius: 2vmax;
	text-align: center;
	font-size: 1.4vmax;
	background-color: rgb(255, 161, 192);
}

/* ------------results for examinations---------------- */
.Student1Results{
	display: flex;
	flex-direction: row;
	/* padding-left: 50vmax; */
	justify-items: center;
}
.Student1AL{
	width: 30vmax;
	height: 30vmax;
	margin-top: 10vmax;
	margin-right: 5vmax;
	position: relative;
	/* backdrop-filter: blur(8px); */
	border-radius: 2vmax;
	background: linear-gradient(25.6deg,
			rgba(247, 0, 255, 0.445) 28.69%,
			rgba(255, 255, 255, 0) 100%);
	
	color: rgba(255, 255, 255, 0.856);
	display: flex;
	flex-direction: column;
	justify-items: center;	
	box-shadow: 9px 5px 16px rgba(197, 7, 255, 0.288);		
}
.StudALTop{
	text-align: center;
}
.stud1ALres{
	margin-left: 20%;
	text-align: left;
	font-size: 1vmax;
	margin-top: 3%;	
	padding-right: 5%;
}
#tab1{
	padding-bottom: 5%;
}
/* ************************* OL BOX************************* */
.Student1OL{
	width: 30vmax;
	height: 30vmax;
	border-radius: 2vmax;
	background: linear-gradient(25.6deg,
			rgba(255, 0, 106, 0.418) 28.69%,
			rgba(255, 255, 255, 0) 100%);
	color: rgba(255, 255, 255, 0.795);
	display: flex;
	flex-direction: column;
	justify-items: center;	
	box-shadow: 9px 5px 16px rgba(255, 7, 152, 0.288);		
}
.StudOLTop{
	text-align: center;
}
.stud1OLres{
	margin-left: 20%;
	text-align: left;
	font-size: 1vmax;
	margin-top: 3%;	
	padding-right: 5%;
}
#tab2{
	padding-bottom: 3%;
}

/* ********************footer text********************* */
.Student1TasksMain{
	padding-top: 5%;
}
.Student1Tasks >a{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10%;
	color: aliceblue;
	text-decoration: none;
	font-size: 1.1vmax;
}
.Student1address{
	padding-top: 5%;
}
.Student1address >a{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: aliceblue;
	text-decoration: none;
	font-size: 1.1vmax;
}

/* --------------------------------------------- */
.Student1BackCircles >img{
	z-index: 1;
	position: absolute;
	opacity: 90%;
	width: 32vmax;
}
.stu1E1{
	margin-top: 1%;
	margin-left: 5%;
}
.stu1E2{
	margin-top: 20%;
	margin-left: 2%;
}
.stu1E5{
	margin-top: 15%;
	margin-left: 50%;
}
.stu1E3{
	margin-top: 32%;
	margin-left: 30%;
}
.stu1E4{
	margin-top: 50%;
	margin-left: 60%;
}
.stu1E6{
	margin-top: 1%;
	margin-left: 65%;
}
.stu1E7{
	opacity: 100%;
	margin-top: 1%;
	margin-left: 40%;
}
.stu1E8{
	opacity: 100%;
	margin-top: 75%;
}
.stu1E9{
	margin-top: 61%;
	margin-left: 5%;
}
.stu1E10{
	margin-top: 90%;
	margin-left: 2%;
}
.stu1E11{
	margin-top: 85%;
	margin-left: 65%;
}
.stu1E12{
	margin-top: 120%;
	margin-left: 30%;
}
.stu1E13{
	margin-top: 130%;
	margin-left: 60%;
}
.stu1E14{
	margin-top: 61%;
	margin-left: 65%;
}
.stu1E15{
	opacity: 100%;
	margin-top: 76%;
	margin-left: 30%;
}
.stu1E16{
	opacity: 100%;
	margin-top: 105%;
	margin-left: 50%;
}
/* --------------------------------------------- */
.Student1BackCircles2 >img{
	z-index: 1;
	position: absolute;
	opacity: 90%;
	
}
.stu1C1{
	margin-top: 125%;
	margin-left: 60%;
	width: 10vmax;
}
.stu1C2{
	margin-top: 5%;
	margin-left: 65%;
	width: 10vmax;
}
.stu1C3{
	margin-top: 25%;
	margin-left: 10%;
	width: 4vmax;
}
.stu1C4{
	margin-top: 55%;
	margin-left: 20%;
	width: 10vmax;
}
.stu1C5{
	margin-top: 80%;
	margin-left: 60%;
	width: 5vmax;
}
.stu1C6{
	margin-top: 140%;
	margin-left: 10%;
	width: 5vmax;
}
/* ******************************* HOVER *************************** */
.Student1BackCircles >img:hover{
	transform: scale(1.3);
	opacity: 40%;
	/* transform: translateX(100px);*/
} 
.Student1BackCircles2 >img:hover{
	transform: scale(1.3);
	opacity: 70%;
}