@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* ------------------ Socials ------------------------- */
.Stud2Fixed{
	display: flex;
	flex-direction: column;
	position: fixed;
	margin-left: 2%;
}
.Stud2Line{
	background-color: #FFB877;
	width: 0.5vmax;
	height: 32vmin;
	margin-left: 47%;
}
.Stud2Line1{
	background-color: #FFB877;
	width: 0.5vmax;
	height: 35vmin;
	margin-left: 47%;
}
.Stud2Socials{
	display: flex;
	flex-direction: column;
}
.Stud2Socials >a>img{
	width: 4vmax;
}

.Student1Body{
	font-family: Roboto;
}
.Student2Main{
	display: flex;
	flex-flow: column;
	height: 100%;
	align-items: center;
}
.Stud2DisImg{
	width: 65%;
	height: 25%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #FFB877;
	padding-top: 5%;
}
.Stud2IMG{
	width: 27vmax;
	height: 27vmax;
}
.Student2MainDis{
	padding-top: 5%;
}
.Student2MainDis >h1{
	font-size: 2vmax;
	text-align: center;
}
.Student2Discription{
	color: aliceblue;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 5%;
	font-size: 1.65vmax;
}
/* ----------------------------- Compatibilities -------------------------- */
.Stud2Cap{
	color: #FFB877;
	font-size: 1.3vmax;
	margin-top: 5%;
}
.Stud2Qualifications{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 1%;
}
.Stud2Qualifications >img{
	width: 10vmax;
	padding-right: 2%;
	padding-left: 2%;
}
.Stud2QualiText{
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;	
}
.Stud2QualiText >p{
	padding-right: 20%;
	padding-left: 20%;
}
.Stud2QualiText1{
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-left: 2%;	
}
.Stud2QualiText1 >p{
	padding-right: 32%;
	padding-left: 30%;
}
.Stud2QualiText2{
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-right: 20%;	
}
.Stud2QualiText2 >p{
	padding-right: 5%;
	padding-left: 5%;
}
.Stud2QualiText3{
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-left: 30%;	
}
.Stud2QualiText3 >p{
	padding-right: 15%;
	padding-left: 15%;
}
/* ----------------------------- Line ---------------------------------- */

/* ------------results for examinations---------------- */
.Stud2Results{
	display: flex;
	flex-direction: row;
	/* padding-left: 50vmax; */
	justify-items: center;
	padding-top: 5%;
}
.Stud2AL{
	width: 30vmax;
	height: 30vmax;
	margin-top: 10vmax;
	margin-right: 5vmax;
	position: relative;
	/* backdrop-filter: blur(8px); */
	border-radius: 20vmax;
	background-color: #FFB877;
	
	color: rgba(0, 0, 0, 0.856);
	display: flex;
	flex-direction: column;
	justify-items: center;	
	box-shadow: 9px 5px 16px rgba(197, 7, 255, 0.288);		
}
.Stud2ALTop{
	text-align: center;
}
.stud2ALres{
	margin-left: 20%;
	text-align: left;
	font-size: 1vmax;
	margin-top: 3%;	
	padding-right: 5%;
}
#tab2{
	padding-bottom: 5%;
}
/* ************************* OL BOX************************* */
.Stud2OL{
	width: 30vmax;
	height: 30vmax;
	border-radius: 20vmax;
	background-color: #FFB877;
	color: rgba(0, 0, 0, 0.795);
	display: flex;
	flex-direction: column;
	justify-items: center;	
	box-shadow: 9px 5px 16px rgba(255, 7, 152, 0.288);		
}
.Stud2OLTop{
	text-align: center;
}
.stud2OLres{
	margin-left: 20%;
	text-align: left;
	font-size: 1vmax;
	margin-top: 3%;	
	padding-right: 5%;
}
#tab3{
	padding-bottom: 3%;
}
/* ----------------- About ---------------------- */
.Stud2About{
	color: #FFB877;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	font-size: 1.3vmax;
	padding-top: 5%;
}
.Stud2About >p{
	color: aliceblue;
}

/* ********************footer text********************* */
.Student2TasksMain{
	padding-top: 2%;
	color: #ffc48e;
}
.Student2TasksMain >a{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10%;
	color: aliceblue;
	text-decoration: none;
	font-size: 1.1vmax;
}

